// Mix-ins
%padding-small {
  padding: $padding-x-small $padding-x-small * 2;
  @media (max-width: 1000px) {
    padding: $padding-x-small $padding-x-small;
  }
}
%padding-regular {
  padding: $padding-small $padding-large;
  @media (max-width: 1000px) {
    padding: $padding-small * 1.5 $padding-large / 1.6;
  }
}
%padding-regular-posts {
  padding: 1% $padding-large 1%;
  @media (max-width: 1000px) {
    padding: $padding-small * 1.5 $padding-large / 1.6;
  }
}
%link-hover {
  text-decoration: underline;
  color: darken($link-color, 15%);
}
// Buttons
.button {
  border-radius: 0.3em;
  border: 1px solid;
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em 0.75em;
}
a.button:hover {
  background: $link-color;
  border: 1px solid $link-color;
  color: $background-color;
  text-decoration: none;
}

.red-button {
  background-color: $link-color; // This uses the red color already defined
  color: $header-desc-text-color; // White color for text
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.red-button:hover {
  background-color: darken($link-color, 10%); // Darkens the button on hover
}


// States
.disabled {
  opacity: 0.7;
}
